<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1>Products List</h1>
    <ul id="products-list"></ul>

    <script>
        fetch('/getProducts')
            .then(response => response.json())
            .then(data => {
                const productsList = document.getElementById('products-list');
                data.forEach(product => {
                    const listItem = document.createElement('li');
                    listItem.textContent = `${product.name} - ${product.price_per_unit}`;
                    productsList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error fetching products:', error));
    </script>



</body>

</html>